
#btnrow1 {
  margin-top: 10px;
  font-size: 30px;
}
#btnrow2 {
  margin-top: 20px;
  font-size: 30px;
}

#structure {
  display: inline-flex;
  justify-content: auto;
  gap: 16px;
}
#features {
  display: inline-flex;
  justify-content: auto;
  gap: 16px;
}

button {
  font-family: "Chokokutai";
  font-size: 30px;
  color: #000000;
  border: solid;
  border-radius: 60px;
  background-color: #ffd2d2;
  cursor: pointer;
}
button:hover {
  background: #937e7e;
  color: #fff;
}
button.active {
  background: #d3ffd1;
  color: #222;
}
